<div class="orange-bg pb-5 full-height">
    <div class="header"></div>

    <div class="content orange-bg h-100 text-light">
        <article class="container">

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <section id="agenteCulturalDefinicaoSection" aria-label="agenteCulturalDefinicaoSection">
                        <br>
                        <h3 class="ms-2 oferta-do-dia section-title"> O que é agente cultural?</h3>
                        <hr>
                        <br>
                        <p>
                            Consideramos agentes culturais todas as pessoas que atuam na produção, preservação, transmissão ou difusão de saberes e práticas culturais: mestres e mestras de tradições, artistas, produtores, gestores, coletivos, pesquisadores e demais trabalhadores
                            da cultura
                        </p>
                    </section>
                    <section id="instituicaoCulturalDefinicaoSection">
                        <br>
                        <h3 class="ms-2 oferta-do-dia section-title">O que é instituição cultural?
                        </h3>
                        <hr>
                        <br>
                        <p>
                            Instituições culturais são espaços ou organizações que promovem, preservam ou disseminam a cultura local, como escolas de música, bibliotecas, centros culturais, grupos de dança, associações comunitárias e outras iniciativas que fortalecem a vida cultural
                            da ilha.
                        </p>
                    </section>
                    <section id="mapaCulturalDefinicaoSection">
                        <br>
                        <h3 class="ms-2 oferta-do-dia section-title">o que é o mapa cultural de itaparica?</h3>
                        <hr>
                        <br>
                        <p>
                            O Mapa Cultural de Itaparica é uma iniciativa que visa identificar, valorizar e dar visibilidade à diversidade de agentes e instituições que fortalecem a cultura local. Sua participação na pesquisa é essencial para que possamos divulgar, preservar e conectar
                            os diferentes territórios culturais da ilha, ampliando a circulação de informações e fortalecendo as redes de colaboração.
                        </p>
                    </section>
                </div>

                <div class="col-md-3 col-sm-12 text-center d-flex  align-items-center d-flex  ">
                    <section class="w-100 text-center justify-content-center align-content-center">
                        <br>
                        <h3 class="ms-2 oferta-do-dia section-title">
                            Faça parte do maior mapeamento cultural da história da ilha!</h3>
                        <br>
                        <p>
                            É fácil e rápido! Preencha o formulário adequado a você através dos botões abaixo:
                        </p>
                        <a class="callbtn  oferta-do-dia section-title p-2 text-decoration-none d-block w-100" href="https://forms.gle/7ztL1jPh8eGU3oXf7" target="_blank" rel="noopener noreferrer" aria-label="Abrir formulário Instituições Culturais em nova aba">Instituições Culturais</a>
                        <br>
                        <br>
                        <a class="callbtn  oferta-do-dia section-title p-2 text-decoration-none d-block w-100" href="https://forms.gle/ZvVSQ65tjjerqFDZ8" target="_blank" rel="noopener noreferrer" aria-label="Abrir formulário Agentes Culturais em nova aba">Agentes Culturais</a>
                    </section>
                </div>
            </div>
        </article>
    </div>
</div>