.footer {
  // font-size: 15px;
  background-color: #6aaf95;
  padding: 10px;
  width: 100vw;
  height: 25rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;

  }
  .col {
    margin: 10px 10px;
  }
  h4 {
    color: #1c4035;
    margin: 20px 0;
  }
  .footer-container {
    gap: 20px;
  }
  .footer-caboblo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 200px;
    }
  }
}
