.footer {
  // font-size: 15px;
  background-color: #6aaf95;
  padding: 10px;
  width: 100vw;

  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  .col {
    margin: 10px 10px;
  }
  h6 {
    color: #1c4035;
    margin: 20px 0;
    font-weight: bold;
  }
  .footer-container {
    margin: 50px 0;
    gap: 20px;
    width: 70%;
  }
  .footer-caboblo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 250px;
      margin-right: 100px;
    }
  }
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section button {
  /* Estilize os inputs e o botão */
  margin: 0 !important  ;
  padding: 10px;
  border-radius: 15px;
  height: 35px;
  border: 1px solid #ccc;
}

.form-section button {
  color: #1c4034;
  border: none;
  cursor: pointer;
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon svg {
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.realizacao-logos img {
  height: 100px;
  margin: 0 15px;

  #lua_logo {
    margin-right: 30px;
  }

  #transatlatica_logo {
    margin-left: 30px;
  }
}

.apoio-logos img {
  filter: invert(1);
  height: 100px;
}

#secult-logo {
  height: 90px !important;
}

#lpg-logo {
  height: 100px !important;
}

#submit-form-button {
  font-size: smaller;
}

.end-footer {
  padding: 10px 10px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #1c4034;
  color: aliceblue;
  p {
    margin: 10px 0;
  }
}

#transatlatica_logo {
  width: 140px;
  height: 140px;
}
//responsividade
@media screen and (max-width: 768px) {
  .footer-container {
    margin: 0px 0;
    gap: 25px;
    width: 100%;
  }

  .form-container {
    margin: 0 -32px !important;
    width: 85vw !important;
  }

  .footer-caboblo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 200px;
      margin-right: 0px;
    }
  }

  .realizacao-logos img {
    height: 80px;
    margin: 0 15px;
  }

  .apoio-logos img {
    filter: invert(1);
    height: 80px;
  }
}

@media screen and (max-width: 900px) {
  .footer-caboblo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 200px;
      margin-right: 0px;
    }
  }
  .realizacao-logos img {
    height: 80px;
    margin: 0 15px;
  }

  .apoio-logos img {
    height: 80px;
  }
}
