<div class="footer consola-mono">
  <div class="footer-container">
    <div class="row">
      <div class="col footer-caboblo">
        <img src="/assets/images/cabocla com fundo.png" alt="">
      </div>
      <div class="col">
        <div class="credits">
          <h4>realização e créditos</h4>
          <p>Organização: Lara Carvalho e Stefane Souto</p>
          <p>Mapas:Lara Carvalho e Stefane Souto</p>
          <p>Apoio Editorial: Lara Carvalho e Stefane Souto</p>
          <p>Design e ilustração: Alyssa Volpini, Sofia Costa</p>
          <p>Apoio de Pesquisa: Felipe Brito</p>
          <p>Desenvolvimento: Mario Pitta</p>
        </div>
        <div class="socials">
          <h4>siga o mapa nas redes</h4>
          <img src="" alt="facebook">
          <img src="" alt="instagram">
          <img src="" alt="twitter">
          <img src="" alt="youtube">
        </div>
      </div>
      <div class="col">
        <div class="contato">
          <h4>entre em contato!</h4>
          <p>luademareproducoes@gmail.com</p>
          <p>+55 71 99974 7417</p>

          <div class="form">
            <h4>faça parte</h4>
            <input type="text" placeholder="Seu nome">
            <br>
            <input type="email" placeholder="Seu email">
            <button type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="copyright">
          <p>© 2025 Mapa Cultural de Itaparica. Todos os direitos reservados.</p>
        </div>
      </div>
      <div class="col">
        <div class="copyright">
          <p>Desenvolvido por: MvK Devs</p>
        </div>
      </div>
      <div class="col">
        <div class="copyright">
          <p>© 2025</p>
        </div>
      </div>
    </div>
  </div>

</div>
