<!-- o component de layout vai definir a estrutura visual da aplicacao, ele é composto por um sidebar, um  header, um footer e um container para o conteudo principal -->
<div class="layout">
  <app-header></app-header>
  <div class="main-content">
    <app-sidebar></app-sidebar>
    <app-pages></app-pages>
  </div>
  <app-footer></app-footer>
</div>
<style>
  .layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  app-sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }

  router-outlet {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
</style>
