<div class="banner-bg" aria-hidden="true"></div>
<div class="map-bg" aria-hidden="true"></div>
<div class="blue-bg">
  <div class="content ">
    <article class="article">
      <section id="project-description">
        <h1 class="page-title oferta-do-dia">PROJETO</h1>
        <br>
        <p>
          O projeto Mapa Cultural de Itaparica foi desenvolvido com o objetivo de
          promover o conhecimento e a compreensão da cultura local, promovendo a
          inclusão cultural e a diversidade cultural na comunidade. O projeto
          busca fornecer uma plataforma online que permita aos visitantes
          explorarem e descobrir a riqueza cultural da cidade de Itaparica,
          oferecendo informações sobre os locais turisticos, eventos culturais e
          atividades culturais. O Mapa Cultural de Itaparica promove a
          compreensão da cultura local, promovendo a inclusão cultural e a
          diversidade cultural na comunidade.
          O projeto Mapa Cultural de Itaparica foi desenvolvido com o objetivo de
          promover o conhecimento e a compreensão da cultura local, promovendo a
          inclusão cultural e a diversidade cultural na comunidade. O projeto
          busca fornecer uma plataforma online que permita aos visitantes
          explorarem e descobrir a riqueza cultural da cidade de Itaparica,
          oferecendo informações sobre os locais turisticos, eventos culturais e
          atividades culturais. O Mapa Cultural de Itaparica promove a
          compreensão da cultura local, promovendo a inclusão cultural e a
          diversidade cultural na comunidade.
          O projeto Mapa Cultural de Itaparica foi desenvolvido com o objetivo de
          promover o conhecimento e a compreensão da cultura local, promovendo a
          inclusão cultural e a diversidade cultural na comunidade. O projeto
          busca fornecer uma plataforma online que permita aos visitantes
          explorarem e descobrir a riqueza cultural da cidade de Itaparica,
          oferecendo informações sobre os locais turisticos, eventos culturais e
          atividades culturais. O Mapa Cultural de Itaparica promove a
          compreensão da cultura local, promovendo a inclusão cultural e a
          diversidade cultural na comunidade.

        </p>
      </section>
      <div>
        <section>
          <br>
          <h3 class="section-title oferta-do-dia">Faça Parte Você Também</h3>
          <br>
          <p>
            O projeto Mapa Cultural de Itaparica foi desenvolvido com o objetivo de
            promover o conhecimento e a compreensão da cultura local, promovendo a
            inclusão cultural e a diversidade cultural na comunidade. O projeto
            busca fornecer uma plataforma online que permita aos visitantes
            explorarem e descobrir a riqueza cultural da cidade de Itaparica,
            oferecendo informações sobre os locais turisticos, eventos culturais e
            atividades culturais. O Mapa Cultural de Itaparica promove a
            compreensão da cultura local, promovendo a inclusão cultural e a
            diversidade cultural na comunidade.
          </p>
        </section>
        <section>
          <br>
          <h3 class="oferta-do-dia">COMO COMEÇAR SUA NAVEGAÇÃO</h3>
          <br>
          <p>
            O projeto Mapa Cultural de Itaparica foi desenvolvido com o objetivo de
            promover o conhecimento e a compreensão da cultura local, promovendo a
            inclusão cultural e a diversidade cultural na comunidade. O projeto
            busca fornecer uma plataforma online que permita aos visitantes
            explorarem e descobrir a riqueza cultural da cidade de Itaparica,
            oferecendo informações sobre os locais turisticos, eventos culturais e
            atividades culturais. O Mapa Cultural de Itaparica promove a
            compreensão da cultura local, promovendo a inclusão cultural e a
            diversidade cultural na comunidade.

          </p>
          <br>
          <button type="button" class="callbtn " aria-label="Comece sua navegação"> 
            <span class="oferta-do-dia">
              Comece sua navegação
            </span>
          </button>
        </section>
      </div>

    </article>
  </div>

</div>
