

.blue-bg {
  background-color: rgb(82 143 141);
  width: 100%;
  // height: 1850px;
  // background-size: cover;
}

.article {
  display: flex;
  gap: 100px;
  text-indent: 1.5em;
  margin-left: 20px;
  text-align: justify;
}


section#project-description {
    max-width: 50%;
}
