.member-image {
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 350px !important;
    max-height: 350px !important;
    filter: saturate(0);
    object-fit: cover;
}
